<%- include("../partials/_header") %>
    <div class="container">
        <div class="d-flex justify-content-between">
            <h2 class="pt-3 pb-1">Your Shopping Cart</h2>
            <span class="pt-3 pb-1">
                <%= cartItems.length %> items
            </span>
        </div>

        <hr class="">
        <div class="row">
            <div class="col-lg-8">
                <% cartItems.forEach(cartItem=> { %>
                    <div class="row mb-2">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                            <img src="<%= cartItem.product_image %>" alt="<%= cartItem.name %>_img" class="img-fluid rounded-3">
                        </div>
                        <div class="col-md-10 col-lg-10 col-xl-10">
                            <div class="row">
                            <div class="col-lg-4">
                                <h3>
                                    <%= cartItem.product_name %>
                                </h3>
                            </div>
                            <div class="col-lg-2">
                                <strong class="fs-5 m-0 p-0">
                                    Price 
                                </strong>
                                <div class="text-dark lead">
                                    <%= cartItem.price %> PKR
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <strong class="fs-5 m-0 p-0">
                                    Quantity 
                                </strong>
                                <div class="text-dark lead d-flex align-items-center">
                                    <input type="button" value="-" onclick="decreaseQuantity('<%= cartItem.id %>')">
                                    <input type="number" min="1" max="10" style="width: 70px; max-width: fit-content;" name="quantity" id="quantity-<%= cartItem.id %>" value="<%= cartItem.quantity %>">
                                    <input type="button" value="+" onclick="increaseQuantity('<%= cartItem.id %>')">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <strong class="fs-5 m-0 p-0">
                                    Total
                                </strong>
                                <div class="text-dark lead">
                                    <%= cartItem.total_price %> PKR
                                </div>
                            </div>
                        </div>  
                        </div>
                    </div>
                    <hr>
            <% }) %>
            </div>
            <div class="col-lg-4">
                <h3>Summary</h3>
                <hr>
                <div class="d-flex justify-content-between">
                    <strong class="fs-5 m-0 p-0">
                        Total Amount : 
                    </strong>
                    <span class="text-dark lead">
                        <%= total %> PKR
                    </span>
                </div>
                <hr>
                <form action="/users/<%= user.id %>/cart/checkout" method="post">
                    <button type="submit" class="btn btn-primary">Checkout</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function increaseQuantity(cartItemId) {
            const quantityInput = document.getElementById(`quantity-${cartItemId}`);
            quantityInput.value = parseInt(quantityInput.value) + 1;
        }

        function decreaseQuantity(cartItemId) {
            const quantityInput = document.getElementById(`quantity-${cartItemId}`);
            if (quantityInput.value > 1) {
                quantityInput.value = parseInt(quantityInput.value) - 1;
            }
        }
    </script>

    <%- include("../partials/_footer") %>