<%- include("../partials/_header") %>

    <h2>Cart</h2>
        <div class="row">
            <% carts.forEach(cart=> { %>
                <div class="col-lg-4">
                    <a href="/users/<%= user.id %>/cart/<%= cart.id %>">
                    <div class="card" style="height: 100%;">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <strong class="fs-4 m-0 p-0">
                                    <%= cart.total_amount %> PKR
                                </strong>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
            <% }) %>
        </div>
   
<%- include("../partials/_footer") %>